* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    background-color: lightgray;
}

.leftside {
    width: 20%;
    height: 100vh;
    float: left;
    padding: 5px;
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(8 , 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.palette {
    width:80%;
    height: 100vh;
    float: left;
    padding: 5px;
    display: grid;
    grid-gap: 1px;
    grid-template-rows: repeat(24 , 1fr);
    grid-template-columns: repeat(60, 1fr);
}

button {
    grid-column: 1/4;
    width: calc(100% - 20px);
    padding: 20px;
    font-size: 1.5em;
    border-radius: 20px;
    color: black;
    margin: 0.25em 0.1em;
}

.leftside div{
    border: 1px solid black;
}

.palette div{
    border: 1px solid lightgray;
    background-color: white;
}